@model Model.DTO.CatalogDetail

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Search Products</h2>
                    <form action="">
                        <input type="text" placeholder="Search products...">
                        <input type="submit" value="Search">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Products</h2>
                    <div class="thubmnail-recent">
                        <img src="/Assets/web/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="/Assets/web/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="/Assets/web/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="/Assets/web/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Recent Posts</h2>
                    <ul>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="/Home">Trang chủ</a>
                        <a href="@(Model.catalogtypeid==1 ? "/HomeCatalog/Mobile" : "/HomeCatalog/Laptop")">@Model.catalogtypename</a>
                        <a href="/Detail/Index/@Model.id">@Model.name</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <a href="@Model.pictureuri"><img src="@Model.pictureuri" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.name</h2>
                                <div class="product-inner-price">
                                    @Model.price.ToString("N0") VNĐ
                                </div>

                                <form action="" class="cart">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit">Add to cart</button>
                                </form>

                                <div class="product-inner-category">
                                    <p>Thể loại: <a href="@(Model.catalogtypeid==1 ? "/HomeCatalog/Mobile" : "/HomeCatalog/Laptop")">@Model.catalogtypename</a>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Giới thiệu</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Cấu hình</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <p>@Model.description</p>
                                            <p>@Model.content</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="profile">
                                        <div class="submit-review">
                                            <ul class="parameter">
                                                <li>
                                                    <span>Màn hình:</span>
                                                    <div>@Model.screen</div>
                                                </li>
                                                <li>
                                                    <span>Hệ điều hành:</span>
                                                    <div>@Model.os</div>
                                                </li>
                                                <li>
                                                    <span>CPU:</span>
                                                    <div>@Model.cpu</div>
                                                </li>
                                                <li>
                                                    <span>RAM:</span>
                                                    <div>@Model.ram</div>
                                                </li>
                                                @{
                                                    if (Model.catalogtypeid == 1)
                                                    {
                                                        <li>
                                                            <span>Camera sau:</span>
                                                            <div>@Model.backcamera</div>
                                                        </li>
                                                        <li>
                                                            <span>Camera trước:</span>
                                                            <div>@Model.frontcamera</div>
                                                        </li>
                                                        <li>
                                                            <span>Bộ nhớ trong:</span>
                                                            <div>@Model.internalmemory</div>
                                                        </li>
                                                        <li>
                                                            <span>Thẻ nhớ:</span>
                                                            <div>@Model.memorystick</div>
                                                        </li>
                                                        <li>
                                                            <span>Thẻ SIM:</span>
                                                            <div>@Model.sim</div>
                                                        </li>
                                                        <li>
                                                            <span>Dung lượng pin:</span>
                                                            <div>@Model.batery</div>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <span>Ổ cứng:</span>
                                                            <div>@Model.harddrive</div>
                                                        </li>
                                                        <li>
                                                            <span>Card màn hình:</span>
                                                            <div>@Model.cardscreen</div>
                                                        </li>
                                                        <li>
                                                            <span>Cổng kết nối:</span>
                                                            <div>@Model.connector</div>
                                                        </li>
                                                        <li>
                                                            <span>Thiết kế:</span>
                                                            <div>@Model.design</div>
                                                        </li>
                                                        <li>
                                                            <span>Kích thước:</span>
                                                            <div>@Model.size</div>
                                                        </li>
                                                        <li>
                                                            <span>Thời điểm ra mắt:</span>
                                                            <div>@Model.release</div>
                                                        </li>
                                                    }
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="related-products-wrapper">
                    <h2 class="related-products-title">Related Products</h2>
                    <div class="related-products-carousel">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="/Assets/web/img/product-1.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">Sony Smart TV - 2015</a></h2>

                            <div class="product-carousel-price">
                                <ins>$700.00</ins> <del>$100.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="/Assets/web/img/product-2.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                            <div class="product-carousel-price">
                                <ins>$899.00</ins> <del>$999.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="/Assets/web/img/product-3.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">Apple new i phone 6</a></h2>

                            <div class="product-carousel-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="/Assets/web/img/product-4.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">Sony playstation microsoft</a></h2>

                            <div class="product-carousel-price">
                                <ins>$200.00</ins> <del>$225.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="/Assets/web/img/product-5.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">Sony Smart Air Condtion</a></h2>

                            <div class="product-carousel-price">
                                <ins>$1200.00</ins> <del>$1355.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="/Assets/web/img/product-6.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">Samsung gallaxy note 4</a></h2>

                            <div class="product-carousel-price">
                                <ins>$400.00</ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

